node_modules
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
coverage

test/**

# To prevent it from contaminating statistics on github
# Remember to commit it manually
package-lock.json